<%= form_for (@collection), html: {class: 'collection_form'}, method: :post do |f| %>
  <%= f.hidden_field :reference, class: 'form-control', value: params[:reference_cont] %>
  <div class="form-group row">
   <%= f.label :amount, "Collection Amount:", class: "col-4 col-form-label" %>
   <div class="col-8">
     <%= f.number_field :amount, required: true, class: 'form-control' %>
   </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary pull-right'  %>
  </div>

<% end %>