<div class="table_invoice">
  <table class='table table-striped table-bordered table-hover'>
    <thead>
      <tr class="bg-primary">
        <th class='align_center'>Reference</th>
        <th class='align_center'>Invoice Date</th>
        <th class='align_center'>Customer</th>
        <th class='align_center'>Brand Manager</th>
        <th class='align_center'>Narration</th>
        <th class='align_center'>Amount</th>
        <th class='align_center'>Total Collection</th>
        <th class='align_center'>Balance Due</th>
        <th class='align_center'>Add Collection</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
      <tr>
        <td class="align_center">
          <%= link_to invoice.reference, collections_path(reference_cont: invoice.reference) %>
        </td>
        <td class="align_center">
          <%= invoice.invoice_date %>
        </td>
        <td class="align_center">
          <%= invoice.customer_name %>
        </td>
        <td class="align_center">
          <%= invoice.brand_manager %>
        </td>
        <td class="align_center">
          <%= invoice.narration %>
        </td>
        <td class="align_center">
          <%= invoice.amount %>
        </td>
        <td class="align_center">
          <%= invoice.collections.count %>
        </td>
        <td class="align_center">
          <%= (invoice.amount) + (invoice.collections.map(&:collection_amount).sum) %>
        </td>
        <td class="align_center">
          <%= link_to "Add Collection", collections_path(reference_cont: invoice.reference), class: "btn btn-primary add-collection-btn", data: { toggle: "modal", target: '#ModalAddCollection', id: invoice.reference } %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
<div class="flickr_pagination">
  <%= will_paginate @invoices, container: false %>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalAddCollection" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="errors_invoice">
        </div>
        <%= render "form_collection" %>
      </div>
    </div>
  </div>
</div>
